h1{
    background-color: rgb(110, 155, 163);
}
/*.header
{
  text-align: center;
  background-color: rgb(68, 151, 252);
  padding: 0%;
  border: 0ch;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}*/

/* .carousel-inner img {
  width: 100%;
  height: 250px;
}

.carousel-inner .carousel-item>img {
  -webkit-animation: thing 6s;
  -o-animation: thing 6s;
  animation: thing 6s;
}

@keyframes thing {
  from {
      transform: scale(1, 1);
  }

  to {
      transform: scale(1.1, 1.1);
  }
} */

.container-fluid
{
  background-color: white;
  text-align: center;
}
.text-center1
{
  color: rgb(91, 91, 237);
}

.text-center3
{
  color: red;
}
.grid-container1 {
  display: grid;
  background-color: rgb(88, 194, 244);
grid-template-columns: 3fr 3fr;
grid-gap: 40px;
width: 800px;
height: 90%;

}


.grid-child2
{
  width:500px;
  text-align:'justify';
  padding:30px;
 
}

.heading
{
  background-color:rgb(77, 163, 249);
  width:230px;
  padding:10px;
  height:50px;
  font-size:20px;
  box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.buttonW
{
  width:100px;
  height: 40px;
  font-size: 20px;
  background-color:rgb(77, 163, 249) ;
  box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border:0ch;
}

.dropzone
{
  border:4px dashed rgba(15, 102, 231, 0.5);
  border-radius: 10px;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  
}

.dropzone.active
{
  border-color: rgb(28, 27, 27);
}
.box
{
  height: 40px;
  font-size: 20px;
}

.grid-container {
  display: grid;
  padding: 15px;
  margin-top: 40px;
  margin-left: 10cm;
  background-color: rgb(100, 204, 246);
  grid-template-columns: 3fr 3fr;
  grid-gap: 40px;
  width: 1100px;
  height: 500px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.grid-child1{

  padding: 10px;
  width: 500px;
  height: 450px;
  display:inline-block;
  vertical-align:middle;
  background-color:white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  line-height:30px;
  
}

.text-left
{
  margin-top: 0%;
  font-size: 30px;
  height: 40px;
  box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(248, 172, 106);
}

.divScroll
{
    overflow-y:scroll;
    outline-offset: 10cm;
    height:80%;
    width:100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}

.buttonR1
{
  background-color: rgb(216, 123, 30);
  margin-left:10cm;
  padding:10px;
  outline-offset: 20cm;
  border: 0ch;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 39px;
  font-size: 20px;
}

.buttonR2
{
  background-color: rgb(216, 123, 30);
  margin-left: 17.5cm;
  padding:10px;
  outline-offset: 20cm;
  border: 0ch;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 39px;
  font-size: 20px;
}

.buttonR3
{
  background-color: rgb(216, 123, 30);
  margin-left: 5cm;
  padding:10px;
  outline-offset: 20cm;
  border: 0ch;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 39px;
  font-size: 20px;
}
.file{
  margin-left: 3cm;
}



.remainder
{
   margin-top: 15px;
  
}


p{
    background-color: rgb(82, 139, 139);
}
.chart1{
  float: left; 
  margin-left: 4%;
}
.chart2{

}
#logoutbtn{
  background-color: white;
  margin-left: 70%;
  color: black;
}